
@model  ProfilEditViewModel
@{
    ViewData["Title"] = "Güncelle";
   
}


<h4>Kategori Düzenle</h4>
<hr />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form asp-action="ProfilEdit" enctype="multipart/form-data">
           
            <div asp-validation-summary="All" class="text-danger"></div>
       
            <div class="form-group">
                <label asp-for="NameSurname"  class="control-label"></label>
                <input asp-for="NameSurname" class="form-control" />
                <span asp-validation-for="NameSurname" class="text-danger"></span>
            </div>

                <div class="form-group">
                <label asp-for="Email"  class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            
                <div class="form-group">
                <label asp-for="Password"  class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>

            </div>
          
            
            

            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-primary" />
            </div>
        </form>
    </div>
     <div class="col-md-2"></div>
</div>

<div>
       <a class="btn btn-secondary" asp-action="Index">Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/coderUtil.js"></script>
 
}
