@model BlogPost


@if (Model == null)
{
    <p class="alert alert-danger" role="alert">@ViewBag.Message</p>
}
else
{
    <div class="card" style="margin-top:30px;">
        <div class="card-header">Post silme</div>
        <div class="card-body">
            @Model.Title  Başlıklı post  silinecek. Silmek istediğinizden emin misiniz ?
        </div>
        <form class="card-body" asp-area="admin" asp-controller="Post"  asp-action="submitdelete">
            <input type="hidden" asp-for="Id" />
            <button class="btn btn-danger"  type="submit">Evet, Sil!</button>
        </form>

    </div>

    
}
<div>
       <a class="btn btn-secondary" asp-action="Index">Geri Dön</a>
</div>